:root {
    --container-width: 90%
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 104px;
    /* background-color: salmon; */
    width: var(--container-width);
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;    
}

section.container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 154px);
    width: 90%;
    /* background-color: gray; */
   margin: 0 auto;
   border: 2px solid black;
}

section.container div.left {
    width: 60%;
    height: 100%;
}

section.container div.right {
    width: 35%;
    height: 100%

}

section.container {
    padding: 10px;
}
section.container div.right img {
    height: inherit;
}

section.container div.left div.top h1 {
    padding-top: 20px;
    padding-left: 30px;
}

section.container div.left div.top p {
    padding-top: 50px;
    padding-left: 30px;
    font-size: 25px;
}

section.container div.left div.bottom {
    padding-top: 200px;
}

section.container div.left div.bottom p {
font-weight: bold;
padding-left: 60px;
}

section.container div.left div.bottom span {
font-size: 15px; 
margin-left: 50px; 
}

section.container div.left {
    background: white;
}

section.container div.right {
    background: url(Michie\ 2.jpg) no-repeat center center/cover;
    
}

div.clear {
    clear: both;
}